.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

Link:link {
  text-decoration: none;
}

Link:visited {
  text-decoration: none;
}

a:link {
  text-decoration: none;
}

.Absolute-Center {
  display: flex; 
  align-items: center; 
  justify-content: center; 
  text-align: center;
}  

body{
  color:white;
  background-color: #212121;
}

ul{
  text-align: center;
  list-style: none;
}

textarea{
  width: 75%;
  height: 200px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid rgb(179, 179, 179);
  border-radius: 4px;
}

textarea:focus {
  border: 2px solid #555;
}

input {
  width: 75%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid rgb(179, 179, 179);
  border-radius: 4px;
}

input:focus {
  border: 2px solid #555;
}

button {
  background-color: #666666;
  border-radius: 8px;
  color: white;
  padding: 15px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  transition-duration: 0.4s;
}

button:hover {
/*  background-color: rgb#ffffff; Green */
  color: rgb(135, 135, 135);
}

.profliepic{
  border-radius: 5%;
  /* width: 30%; */
  width: 230px;
  height: 230px;
  display: block; /* remove extra space below image */
}

a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

img {
  width: auto;
  height : auto;
  max-width:100%;
  max-width: 100%;
}

/* Select Game Teams */

select {
  width: 75%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid rgb(179, 179, 179);
  border-radius: 4px;
}

/* Results page layout */

.resultsWrapper{
  display: grid;
  grid-gap: 1%;
  margin: 1%;
  margin-bottom: 2%;
  grid-auto-rows: min-content;
  grid-template-columns: 0.5fr 1fr 1fr 1fr 0.5fr;
  grid-template-areas: 
  ". main main main ."
  ". rTable rTable rTable ."
  ". socials socials socials ."
  ". fb twitterFeed  discServer  .";
}

.MuiDataGrid-colCellTitle {
  display: block;
  text-align:center;
  width: 100%;
}

.main{
  grid-area: main;
  text-align: left;
  font-size: large;
}

.rTable{
  grid-area: rTable;
}
.rTable h2{
  text-align: left;
}

.socials{
  grid-area: socials;
  text-align: left;
  font-size: large;
}

.discServer{
  grid-area: discServer;
}

.twitterFeed{
  grid-area: twitterFeed;
}

.twitter{
  height:500px;
	width:350px;
	float:centre;
}

.discord{
  height:500px;
	width:350px;
	float:centre;
}

.fbPage{
  grid-area: fb;
}

/* Lewis CSS */

.eventcolumn {
  float: left;
  width: 40%;
  padding: 5px;
  height: 150px;
  border-left: 3px solid;
  border-image: linear-gradient(to right, rgb(225, 84, 23), rgb(23, 13, 5)) 1;
}

/* Clear floats after the columns*/
.eventrow:after {
  content: "";
  display: table;
  clear: both;
}

.streamcontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom: 3px solid;
  border-image: linear-gradient(to right, rgb(225, 84, 23), rgb(0, 0, 0)) 1;
  margin: 40px;
}

.streamplayer {
  align-self: center;
  margin-bottom: 30px;
  padding: 20px;
}

.news{
  float:right;
  background-color: #212121;
  width:15%;
  height:100%;
  padding: 15px;
}

/* Lewis CSS */

