.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

Link:link {
  text-decoration: none;
}

Link:visited {
  text-decoration: none;
}

a:link {
  text-decoration: none;
}

.Absolute-Center {
  display: flex; 
  align-items: center; 
  justify-content: center; 
  text-align: center;
}  

ul{
  text-align: center;
  list-style: none;
}

textarea{
  width: 75%;
  height: 200px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid rgb(179, 179, 179);
  border-radius: 4px;
}

textarea:focus {
  border: 2px solid #555;
}

input {
  width: 75%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid rgb(179, 179, 179);
  border-radius: 4px;
}

input:focus {
  border: 2px solid #555;
}

button {
  background-color: #666666;
  border-radius: 8px;
  color: white;
  padding: 15px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  transition-duration: 0.4s;
}

button:hover {
/*  background-color: rgb#ffffff; Green */
  color: rgb(135, 135, 135);
}

.profliepic{
  border-radius: 5%;
  display: block; /* remove extra space below image */
}

a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

img {
  max-width:100%;
}

/* Select Game Teams */

select {
  width: 75%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid rgb(179, 179, 179);
  border-radius: 4px;
}

/* Box Teams */


*, *:before, *:after {
  box-sizing: border-box;
  box-sizing: border-box;
  box-sizing: border-box;
}

.box {
  border: solid 1px;
  margin-bottom: 2em;
  padding: 1.5em;
      border-color: #e6e6e6;
}

left{
  text-align: left;;
}
/* Post Teams*/

.post {
  -moz-flex-direction: column;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -moz-align-items: stretch;
  -webkit-align-items: stretch;
  -ms-align-items: stretch;
  align-items: stretch;
  margin-bottom: 2em;
}

  .post .content {
    padding: 2.5em 2.5em 0.5em 2.5em ;
    -moz-flex-grow: 1;
    -webkit-flex-grow: 1;
    -ms-flex-grow: 1;
    flex-grow: 1;
    background-color: transparent;
    border: solid 1px #e6e6e6;
  }


/* Wrapper Teams */

.wrapper {
  padding: 4em 0 2em 0 ;
  position: relative;
}

  .wrapper > .inner {
    margin: 0 auto;
    max-width: 100em;
    width: 100%;
  }

  .wrapper.sidebar > .inner {
    display: flex;
    -moz-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

    .wrapper.sidebar > .inner > header {
      width: 100%;
    }

    .wrapper.sidebar > .inner > .content {
      width: 75%;
      padding: 0 4em 0 0;
    }

    .wrapper.sidebar > .inner > .sidebar {
      width: 25%;
    }

  


